src/stepfunction/sl-subtitle-generator-step-function.yaml
{
  "Comment": "AI Subtitle Pipeline - Automated Centralized Error Notification via SNS",
  "StartAt": "StartTranscription",
  "States": {
    "StartTranscription": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.job_name",
        "Media": {
          "MediaFileUri.$": "$.video_s3_uri"
        },
        "IdentifyLanguage": true,
        "OutputBucketName": "<YOUR_OUTPUT_BUCKET_NAME>"
      },
      "ResultPath": "$.transcribe_status",
      "Next": "Wait10Seconds",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error_info",
          "Next": "AlertDevelopersSNS"
        }
      ]
    },
    "Wait10Seconds": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckJobStatus"
    },
    "CheckJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.job_name"
      },
      "ResultPath": "$.transcribe_status",
      "Next": "IsJobDone?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error_info",
          "Next": "AlertDevelopersSNS"
        }
      ]
    },
    "IsJobDone?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transcribe_status.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "CheckIfTranslationNeeded"
        },
        {
          "Variable": "$.transcribe_status.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "CaptureTranscribeFailure"
        }
      ],
      "Default": "Wait10Seconds"
    },
    "CaptureTranscribeFailure": {
      "Type": "Pass",
      "Comment": "如果是Transcribe内部判定失败，我们手动帮它格式化错误结构，无缝对齐Lambda的报错格式",
      "Result": {
        "Error": "TranscriptionJobExecutionFailed",
        "Cause": "Amazon Transcribe 识别任务在执行期间失败（可能是音频文件损坏或格式不兼容）。"
      },
      "ResultPath": "$.error_info",
      "Next": "AlertDevelopersSNS"
    },
    "CheckIfTranslationNeeded": {
      "Type": "Choice",
      "Comment": "高级重构：使用大 Or 块包裹多语种 And 判定，极大提升扩展性",
      "Choices": [
        {
          "Or": [
            {
              "And": [
                {
                  "Variable": "$.transcribe_status.TranscriptionJob.LanguageCode",
                  "StringMatches": "zh*"
                },
                {
                  "Variable": "$.target_lang",
                  "StringEquals": "zh"
                }
              ]
            },
            {
              "And": [
                {
                  "Variable": "$.transcribe_status.TranscriptionJob.LanguageCode",
                  "StringMatches": "en*"
                },
                {
                  "Variable": "$.target_lang",
                  "StringEquals": "en"
                }
              ]
            }
          ],
          "Next": "DirectToFormatLambda"
        }
      ],
      "Default": "GoToTranslateService"
    },
    "GoToTranslateService": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:<YOUR_REGION>:<YOUR_ACCOUNT_ID>:function:SL-Subtitle-Generator-Translate-Function",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "DirectToFormatLambda",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error_info",
          "Next": "AlertDevelopersSNS"
        }
      ]
    },
    "DirectToFormatLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:<YOUR_REGION>:<YOUR_ACCOUNT_ID>:function:SL-Subtitle-Generator-Format-Subtitle-Function",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "SendEmailNotification",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error_info",
          "Next": "AlertDevelopersSNS"
        }
      ]
    },
    "SendEmailNotification": {
      "Type": "Task",
      "Comment": "终点大结局：调用精美 HTML 发信微服务",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:<YOUR_REGION>:<YOUR_ACCOUNT_ID>:function:SL-Subtitle-Generator-SES-Function",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error_info",
          "Next": "AlertDevelopersSNS"
        }
      ]
    },
    "AlertDevelopersSNS": {
      "Type": "Task",
      "Comment": "核心终点站：全自动提取动态错误类型与致命死因",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:<YOUR_REGION>:<YOUR_ACCOUNT_ID>:<YOUR_SNS_TOPIC_NAME>",
        "Message.$": "States.Format('🚨 [Subtitle Pipeline 严重告警]\n\n任务名称: {}\n目标语言: {}\n\n【异常类别】: {}\n【核心死因】: {}', $.job_name, $.target_lang, $.error_info.Error, $.error_info.Cause)"
      },
      "End": true
    }
  }
}